<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldg.subway.sandwich.bread.BreadDAO">
	<select id="getAllBread" resultType="BreadVO">
		Select *
		from bread
	</select>
	
	<select id="getBreadById" resultType="BreadVO">
		Select *
		from bread
		where bread_id = #{bread_id}
	</select>
</mapper>