<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldg.subway.sandwich.sauce.SauceDAO">
	<select id="getAllSauce" resultType="SauceVO">
		Select *
		from sauce
	</select>
	<select id="getSauceById" resultType="SauceVO">
		Select *
		from sauce
		where sauce_id = #{sauce_id}
	</select>
</mapper>